@media only screen and (max-width:1100px) {
    
    .navigation{
        width: 100%;
        line-height:0.8;
          
    }

    .product-list >div{
        display: flex;
        flex-direction:column;

    }

    .product-list >div{
        height: fit-content;
        width: auto;
    }
    .other-text >button{
        width: 100%;
    }


    .product-photo{
        border-right: 1px solid #4e4e4e;
        border-bottom: 1px solid #4e4e4e;
    }
  }


body{
    font-family: 'Arial', sans-serif;
    line-height: 0.4;
    margin: 0px;
    font-size:18px;
    color: #333333;
}
.fas.fa-user-circle{
    font-size: 45px;
}
.navigation{
     display: flex;
     flex-direction: row;
     justify-content:space-around;
     height: 90px;
     align-items: center;
     background-color: #ec8725;
}
ul{
    padding-inline-start: 0px;
}
.navigation >li{
    display: inline-block; 
}

.navigation >li:not(:nth-child(2)){
    flex-grow: 3; 
    flex-shrink: 3;
    flex-basis: 100%;

}
.navigation >li:nth-child(2){
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: 100%;
    margin-left: 10px;
    margin-right: 5px;

}

#search-input{
    width: 80%;
    height: 44px;
    border:0px;
    border-top: 3px solid #ffffff;
    border-radius: 3px;
}
#search-button{
    height: 44px;
    width: auto;
    background-color: #ffffff;
    color: #ec8725;
    border: 0px;
    border-radius: 3px;
    font-size: 22px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
.navigation >li:first-child{
  color:#ffffff;
  font-size: 60px; 
}
.navigation >li >a{
    color:#ffffff;
    text-decoration: none;
}

.login-icon{
    font-size: 25px;
    font-weight: 700;
}
#centered-btn{
    text-align: center;
}
#sell-button{
    height: 69px;
    width: 333px;
    background-color: #ffffff;
    color: #ec8725;
    border: 3px solid #ec8725;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    
}

.drop-flex{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.fas.fa-chevron-down{
    font-size:15px;
}
.drop-btn {
    background-color: #ffffff;
    color: #6e6e6e;
    padding: 10px;
    font-size: 22px;
    font-weight:400;
    border: 1px solid #ec8725;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #6e6e6e;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

.fas.fa-shopping-bag{
    font-size: 30px;
}
.container{
    margin: 40px;
}
.product-box{
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 20px;
    margin-bottom: 0px;
    border: 1px solid #797979;
    justify-content: space-between;
    
      
}

.product-box >div:not(:first-child){
    margin-top: 10px;
    margin-left: 10px;
}
.product-box >div:nth-child(2){
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
}
.product-box >div:not(:nth-child(2)){
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 100%;
 }

.contact-info{
    font-size:20px;
}

.buy-btn >a{
    color: black;
    text-decoration: none;
}
.buy-btn{
    width: 140px;
    height: 40px;
    background-color: #ffffff;
    font-size: 22px;
    border: 1px solid #ec8725;
    border-radius: 5px;
    cursor: pointer;
}


.product-name{
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
}
.product-published{
    font-size: 16px;
    font-weight: 400;
    color: #535353;
    align-self: flex-end;
}
.product-photo{
    height: 170px;
    width: 300px;
    object-fit: cover;
    border-right: 1px solid #4e4e4e;

}

.product-price{

    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    

}


/*Product Page*/

.mainPage{
    display: show;
}

.product-description-container{
    margin-top: 200px;
    margin-bottom: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-description{
    display: flex;
    flex-direction: column;

    align-items: center;

}

.row-directed{
    display: flex;
    align-self: flex-start;
    line-height: 0.6;
    
}
.product-name-description{
    font-size: 39px;
    font-weight: 700;
    align-self: flex-start;
}

.product-text-description{
    font-size: 30px;
    margin-right: 510px;
}

.product-photo-description{
    width: 1180px;
    height: 465px;
    object-fit: cover;
    border: 1px solid #555555;
}

.product-published-description{
    font-size: 28px;
    font-weight: 400;
    color: #535353;
    align-self: flex-end;
}
.product-price-description{

    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: bold;
    

}

.contact-name-description{
    margin-top: 100px;
    font-weight: 600;
}

.contact-btn{
    background-color: #ec8725;
    border: 1px solid #555555;
    border-radius: 5px;
    color: #333333;
    font-size:17px;
    font-weight: 400;
    padding: 15px;
    padding-left: 60px;
    padding-right:60px;
    margin-bottom: 70px;
    cursor: pointer;
}




/*Footer*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ec8725;
    color:#ffffff;
    height: 250px;
}
.socialmedia-icon{
    display: flex;
    justify-content:space-between;
    width: 300px;
    font-size:35px;
}

