
body{
    font-family: 'Arial', sans-serif;
    line-height: 0.4;
}
.fas.fa-user-circle{
    font-size: 45px;
}
.navigation{
     display: flex;
     flex-direction: row;
     height: 90px;
     align-items: center;
     background-color: #ec8725;
}
ul{
    padding-inline-start: 0px;
}
.navigation >li{
    display: inline-block; 
    margin: 50px;
}
#searchInput{
    width: 386px;
    height: 44px;
    border:#ffffff;
    border-radius: 3px;
}
#searchButton{
    height: 44px;
    width: auto;
    background-color: #ffffff;
    color: #ec8725;
    border: #ffffff;
    border-radius: 3px;
    font-size: 22px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    margin: -97px;
    cursor: pointer;
}
.navigation >li:first-child{
  color:#ffffff;
  font-size: 60px; 
}
.loginIcon{
    color:#ffffff;
    font-size: 25px;
    font-weight: 700;
}
#sellButton{
    height: 69px;
    width: 333px;
    background-color: #ffffff;
    color: #ec8725;
    border: 3px solid #ec8725;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px;
    margin-bottom: 10px;
    margin-left: 500px;
    margin-right: 500px;
    cursor: pointer;
    
}

.dropFlex{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.fas.fa-chevron-down{
    font-size:15px;
}
.dropbtn {
    background-color: #ffffff;
    color: #6e6e6e;
    padding: 10px;
    font-size: 22px;
    font-weight:400;
    border: 1px solid #ec8725;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #6e6e6e;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

.fas.fa-shopping-bag{
    font-size: 30px;
}
.container{
    margin: 40px;
}
.productBox{
    display: flex;
    flex-direction: row;
    height: 170px;
    margin: 20px;
    border: 1px solid #4e4e4e;
    justify-content: space-between;
}
.productBox >div:not(:first-child){
    margin: 15px;
}

.orangeIcons{
    font-size: 22px;
    color: #ec8725;
}

.fas.fa-phone-alt{
    margin-right: 20px;
}

.productName{
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
}
.productPublished{
    font-size: 16px;
    font-weight: 400;
    color: rgba(121, 121, 121,1);
    align-self: flex-end;
}
.productPhoto{
    width: 300px;
    object-fit: cover;
}

.productPrice{

    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    

}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ec8725;
    color:#ffffff;
    height: 250px;
}
.socialMediaIcon{
    display: flex;
    justify-content:space-between;
    width: 300px;
    font-size:35px;
}

